<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        
        <type name="Magento\Catalog\Model\Product">
            <plugin name="Magenest_Sample::changeProductName" type="Egits\Override\Plugin\Catalog\Model\ProductPlugin" />
        </type>
<!-- 
        <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
            <plugin name="restrict_place_order" type="Egits\Override\Plugin\PaymentInfoManagement"/>
        <! </type> -->
      <!-- <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="redirect_custom_url" type="Egits\Override\Plugin\RedirectCustomUrl" sortOrder="1"/>
    </type> --> 
 <type name="\Magento\Cms\Controller\Page\View">
        <plugin name="before-plugin"
                type="Egits\Override\Plugin\Plugin"
                sortOrder="10"
                disabled="false"/>
    </type>
    <!-- <type name="Magento\Customer\Model\Session ">
            <plugin name="customer_login_attempts" type="Egits\Override\Plugin\Customer\Model\Session\log" />
        </type> -->
    </config>