<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="adminform_promo_form_data_source" xsi:type="string">Egits\ImageUpload\Model\ResourceModel\Promo\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Egits\ImageUpload\Model\ResourceModel\Promo\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">promoimage_table</argument>
            <argument name="resourceModel" xsi:type="string">Egits\ImageUpload\Model\ResourceModel\Promo</argument>
        </arguments>
    </virtualType>
</config>